# Project 1

## Step 1: Load the data and perform basic operations.

##### 1. Load the data in using pandas.

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
sat_csv_path = '../data/sat.csv'
sat_df = pd.read_csv(sat_csv_path)

sat_csv_path2 = '../data/act.csv'
act_df = pd.read_csv(sat_csv_path2)

##### 2. Print the first ten rows of each dataframe.

In [4]:
sat_df.head(10)

,Unnamed: 0,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,0,Alabama,5%,593,572,1165
1,1,Alaska,38%,547,533,1080
2,2,Arizona,30%,563,553,1116
3,3,Arkansas,3%,614,594,1208
4,4,California,53%,531,524,1055
5,5,Colorado,11%,606,595,1201
6,6,Connecticut,100%,530,512,1041
7,7,Delaware,100%,503,492,996
8,8,District of Columbia,100%,482,468,950
9,9,Florida,83%,520,497,1017

In [5]:
act_df.head(10)

,Unnamed: 0,State,Participation,English,Math,Reading,Science,Composite
0,0,National,60%,20.3,20.7,21.4,21.0,21.0
1,1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,5,California,31%,22.5,22.7,23.1,22.2,22.8
6,6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

In [6]:
sat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
Unnamed: 0                            51 non-null int64
State                                 51 non-null object
Participation                         51 non-null object
Evidence-Based Reading and Writing    51 non-null int64
Math                                  51 non-null int64
Total                                 51 non-null int64
dtypes: int64(4), object(2)
memory usage: 2.5+ KB

In [7]:
act_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 8 columns):
Unnamed: 0       52 non-null int64
State            52 non-null object
Participation    52 non-null object
English          52 non-null float64
Math             52 non-null float64
Reading          52 non-null float64
Science          52 non-null float64
Composite        52 non-null float64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.3+ KB

In [8]:
sat_df.describe()

       Unnamed: 0  Evidence-Based Reading and Writing        Math        Total
count   51.000000                           51.000000   51.000000    51.000000
mean    25.000000                          569.117647  547.627451  1126.098039
std     14.866069                           45.666901   84.909119    92.494812
min      0.000000                          482.000000   52.000000   950.000000
25%     12.500000                          533.500000  522.000000  1055.500000
50%     25.000000                          559.000000  548.000000  1107.000000
75%     37.500000                          613.000000  599.000000  1212.000000
max     50.000000                          644.000000  651.000000  1295.000000

In [9]:
act_df.describe()

       Unnamed: 0    English       Math    Reading    Science  Composite
count   52.000000  52.000000  52.000000  52.000000  52.000000  52.000000
mean    25.500000  20.919231  21.173077  22.001923  21.040385  21.509615
std     15.154757   2.332132   1.963602   2.048672   3.151113   2.002083
min      0.000000  16.300000  18.000000  18.100000   2.300000  17.800000
25%     12.750000  19.000000  19.400000  20.475000  19.900000  19.800000
50%     25.500000  20.550000  20.900000  21.700000  21.150000  21.400000
75%     38.250000  23.300000  23.100000  24.125000  22.525000  23.600000
max     51.000000  25.500000  25.300000  26.000000  24.900000  25.500000

##### 3. Describe in words what each variable (column) is.

## SAT DataFrame

**State:** An unordered categorical variable consisting of the state's name. <br>
**Participation:** A string object that represents a percentage of the state's participation rate. We're going to convert this to a float during EDA. <br>
**Evidence-Based Reading and Writing:** An integer that represents the score out of 800 on this section of the test. <br>
**Math:** An integer that represents the score out of 800 on this section of the test. <br>
**Total:** The combined total of the previous two columns.

## ACT DataFrame

**State:** An unordered categorical variable consisting of the state name. <br>
**Participation:** A string object that represents a percentage of the state's participation rate. We're going to convert this to a float during EDA. <br>
**English:** A float that represents the score out of 36 on this section of the test. <br>
**Math:** A float that represents the score out of 36 on this section of the test. <br>
**Reading:** A float that represents the score out of 36 on this section of the test. <br>
**Science:** A float that represents the score out of 36 on this section of the test. <br>
**Composite:** The average of the four scores which represents the student's overall score.

##### 4. Does the data look complete? Are there any obvious issues with the observations?

**Note:** Because these DataFrames are so small, we can just take a look at them and make sure everything is in order

In [10]:
sat_df

,Unnamed: 0,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,0,Alabama,5%,593,572,1165
1,1,Alaska,38%,547,533,1080
2,2,Arizona,30%,563,553,1116
3,3,Arkansas,3%,614,594,1208
4,4,California,53%,531,524,1055
5,5,Colorado,11%,606,595,1201
6,6,Connecticut,100%,530,512,1041
7,7,Delaware,100%,503,492,996
8,8,District of Columbia,100%,482,468,950
9,9,Florida,83%,520,497,1017
10,10,Georgia,61%,535,515,1050
11,11,Hawaii,55%,544,541,1085
12,12,Idaho,93%,513,493,1005
13,13,Illinois,9%,559,556,1115
14,14,Indiana,63%,542,532,1074
15,15,Iowa,2%,641,635,1275
16,16,Kansas,4%,632,628,1260
17,17,Kentucky,4%,631,616,1247
18,18,Louisiana,4%,611,586,1198
19,19,Maine,95%,513,499,1012
20,20,Maryland,69%,536,52,1060
21,21,Massachusetts,76%,555,551,1107
22,22,Michigan,100%,509,495,1005
23,23,Minnesota,3%,644,651,1295
24,24,Mississippi,2%,634,607,1242
25,25,Missouri,3%,640,631,1271
26,26,Montana,10%,605,591,1196
27,27,Nebraska,3%,629,625,1253
28,28,Nevada,26%,563,553,1116
29,29,New Hampshire,96%,532,520,1052
30,30,New Jersey,70%,530,526,1056
31,31,New Mexico,11%,577,561,1138
32,32,New York,67%,528,523,1052
33,33,North Carolina,49%,546,535,1081
34,34,North Dakota,2%,635,621,1256
35,35,Ohio,12%,578,570,1149
36,36,Oklahoma,7%,530,517,1047
37,37,Oregon,43%,560,548,1108
38,38,Pennsylvania,65%,540,531,1071
39,39,Rhode Island,71%,539,524,1062
40,40,South Carolina,50%,543,521,1064
41,41,South Dakota,3%,612,603,1216
42,42,Tennessee,5%,623,604,1228
43,43,Texas,62%,513,507,1020
44,44,Utah,3%,624,614,1238
45,45,Vermont,60%,562,551,1114
46,46,Virginia,65%,561,541,1102
47,47,Washington,64%,541,534,1075
48,48,West Virginia,14%,558,528,1086
49,49,Wisconsin,3%,642,649,1291
50,50,Wyoming,3%,626,604,1230

In [11]:
act_df

,Unnamed: 0,State,Participation,English,Math,Reading,Science,Composite
0,0,National,60%,20.3,20.7,21.4,21.0,21.0
1,1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,5,California,31%,22.5,22.7,23.1,22.2,22.8
6,6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2
10,10,Florida,73%,19.0,19.4,21.0,19.4,19.8
11,11,Georgia,55%,21.0,20.9,22.0,21.3,21.4
12,12,Hawaii,90%,17.8,19.2,19.2,19.3,19.0
13,13,Idaho,38%,21.9,21.8,23.0,22.1,22.3
14,14,Illinois,93%,21.0,21.2,21.6,21.3,21.4
15,15,Indiana,35%,22.0,22.4,23.2,22.3,22.6
16,16,Iowa,67%,21.2,21.3,22.6,22.1,21.9
17,17,Kansas,73%,21.1,21.3,22.3,21.7,21.7
18,18,Kentucky,100%,19.6,19.4,20.5,20.1,20.0
19,19,Louisiana,100%,19.4,18.8,19.8,19.6,19.5
20,20,Maine,8%,24.2,24.0,24.8,23.7,24.3
21,21,Maryland,28%,23.3,23.1,24.2,2.3,23.6
22,22,Massachusetts,29%,25.4,25.3,25.9,24.7,25.4
23,23,Michigan,29%,24.1,23.7,24.5,23.8,24.1
24,24,Minnesota,100%,20.4,21.5,21.8,21.6,21.5
25,25,Mississippi,100%,18.2,18.1,18.8,18.8,18.6
26,26,Missouri,100%,19.8,19.9,20.8,20.5,20.4
27,27,Montana,100%,19.0,20.2,21.0,20.5,20.3
28,28,Nebraska,84%,20.9,20.9,21.9,21.5,21.4
29,29,Nevada,100%,16.3,18.0,18.1,18.2,17.8
30,30,New Hampshire,18%,25.4,25.1,26.0,24.9,25.5
31,31,New Jersey,34%,23.8,23.8,24.1,23.2,23.9
32,32,New Mexico,66%,18.6,19.4,20.4,20.0,19.7
33,33,New York,31%,23.8,24.0,24.6,23.9,24.2
34,34,North Carolina,100%,17.8,19.3,19.6,19.3,19.1
35,35,North Dakota,98%,19.0,20.4,20.5,20.6,20.3
36,36,Ohio,75%,21.2,21.6,22.5,22.0,22.0
37,37,Oklahoma,100%,18.5,18.8,20.1,19.6,19.4
38,38,Oregon,40%,21.2,21.5,22.4,21.7,21.8
39,39,Pennsylvania,23%,23.4,23.4,24.2,23.3,23.7
40,40,Rhode Island,21%,24.0,23.3,24.7,23.4,24.0
41,41,South Carolina,100%,17.5,18.6,19.1,18.9,18.7
42,42,South Dakota,80%,20.7,21.5,22.3,22.0,21.8
43,43,Tennessee,100%,19.5,19.2,20.1,19.9,19.8
44,44,Texas,45%,19.5,20.7,21.1,20.9,20.7
45,45,Utah,100%,19.5,19.9,20.8,20.6,20.3
46,46,Vermont,29%,23.3,23.1,24.4,23.2,23.6
47,47,Virginia,29%,23.5,23.3,24.6,23.5,23.8
48,48,Washington,29%,20.9,21.9,22.1,22.0,21.9
49,49,West Virginia,69%,20.0,19.4,21.2,20.5,20.4
50,50,Wisconsin,100%,19.7,20.4,20.6,20.9,20.5
51,51,Wyoming,100%,19.4,19.8,20.8,20.6,20.2

## Answer:
Upon closer inspection, it seems that there's a national average row included in the ACT data. We're going to have to be cognizant of this when calculating descriptive statistics for this dataset. Also, there's an extra column in both datasets called Unnamed that doesn't seem to serve a purpose; let's drop it.

In [12]:
sat_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [13]:
act_df.drop(['Unnamed: 0'], axis=1, inplace=True)

##### 5. Print the types of each column.

In [14]:
sat_df.dtypes

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [15]:
act_df.dtypes

State             object
Participation     object
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float64
dtype: object

##### 6. Do any types need to be reassigned? If so, go ahead and do it.

In [16]:
try:
    sat_df.Participation = sat_df.Participation.str.rstrip('%').astype('float64')
    act_df.Participation = act_df.Participation.str.rstrip('%').astype('float64')
except:
    pass

In [17]:
sat_df.Participation

0       5.0
1      38.0
2      30.0
3       3.0
4      53.0
5      11.0
6     100.0
7     100.0
8     100.0
9      83.0
10     61.0
11     55.0
12     93.0
13      9.0
14     63.0
15      2.0
16      4.0
17      4.0
18      4.0
19     95.0
20     69.0
21     76.0
22    100.0
23      3.0
24      2.0
25      3.0
26     10.0
27      3.0
28     26.0
29     96.0
30     70.0
31     11.0
32     67.0
33     49.0
34      2.0
35     12.0
36      7.0
37     43.0
38     65.0
39     71.0
40     50.0
41      3.0
42      5.0
43     62.0
44      3.0
45     60.0
46     65.0
47     64.0
48     14.0
49      3.0
50      3.0
Name: Participation, dtype: float64

##### 7. Create a dictionary for each column mapping the State to its respective value for that column. (For example, you should have three SAT dictionaries.)

In [18]:
State_part_dict = {}

for i in range(len(act_df['State'])):
    State_part_dict.update({act_df.loc[i,'State']:act_df.loc[i,'Participation']})

In [19]:
State_eng_dict = {}

for i in range(len(act_df['State'])):
    State_eng_dict.update({act_df.loc[i,'State']:act_df.loc[i,'English']})

In [20]:
State_math_dict = {}

for i in range(len(act_df['State'])):
    State_math_dict.update({act_df.loc[i,'State']:act_df.loc[i,'Math']})

In [21]:
State_read_dict = {}

for i in range(len(act_df['State'])):
    State_read_dict.update({act_df.loc[i,'State']:act_df.loc[i,'Reading']})

In [22]:
State_sci_dict = {}

for i in range(len(act_df['State'])):
    State_sci_dict.update({act_df.loc[i,'State']:act_df.loc[i,'Science']})

In [23]:
sat_part_dict = {}

for i in range(len(sat_df['State'])):
    sat_part_dict.update({sat_df.loc[i,'State']:sat_df.loc[i,'Participation']})

In [24]:
sat_ebrw_dict = {}

for i in range(len(sat_df['State'])):
    sat_ebrw_dict.update({sat_df.loc[i,'State']:sat_df.loc[i,'Evidence-Based Reading and Writing']})

In [25]:
sat_math_dict = {}

for i in range(len(sat_df['State'])):
    sat_math_dict.update({sat_df.loc[i,'State']:sat_df.loc[i,'Math']})

##### 8. Create one dictionary where each key is the column name, and each value is an iterable (a list or a Pandas Series) of all the values in that column.

In [26]:
col_dict = {}
for i in list(sat_df.columns):
    col_dict.update({i:[x for x in sat_df[i]]})

In [27]:
col_dict = {}
for i in list(act_df.columns):
    col_dict.update({i:[x for x in act_df[i]]})

##### 9. Merge the dataframes on the state column.

In [28]:
merged_df = sat_df.merge(act_df, how='inner', on='State', suffixes=('_sat','_act'))
merged_df

,State,Participation_sat,Evidence-Based Reading and Writing,Math_sat,Total,Participation_act,English,Math_act,Reading,Science,Composite
0,Alabama,5.0,593,572,1165,100.0,18.9,18.4,19.7,19.4,19.2
1,Alaska,38.0,547,533,1080,65.0,18.7,19.8,20.4,19.9,19.8
2,Arizona,30.0,563,553,1116,62.0,18.6,19.8,20.1,19.8,19.7
3,Arkansas,3.0,614,594,1208,100.0,18.9,19.0,19.7,19.5,19.4
4,California,53.0,531,524,1055,31.0,22.5,22.7,23.1,22.2,22.8
5,Colorado,11.0,606,595,1201,100.0,20.1,20.3,21.2,20.9,20.8
6,Connecticut,100.0,530,512,1041,31.0,25.5,24.6,25.6,24.6,25.2
7,Delaware,100.0,503,492,996,18.0,24.1,23.4,24.8,23.6,24.1
8,District of Columbia,100.0,482,468,950,32.0,24.4,23.5,24.9,23.5,24.2
9,Florida,83.0,520,497,1017,73.0,19.0,19.4,21.0,19.4,19.8
10,Georgia,61.0,535,515,1050,55.0,21.0,20.9,22.0,21.3,21.4
11,Hawaii,55.0,544,541,1085,90.0,17.8,19.2,19.2,19.3,19.0
12,Idaho,93.0,513,493,1005,38.0,21.9,21.8,23.0,22.1,22.3
13,Illinois,9.0,559,556,1115,93.0,21.0,21.2,21.6,21.3,21.4
14,Indiana,63.0,542,532,1074,35.0,22.0,22.4,23.2,22.3,22.6
15,Iowa,2.0,641,635,1275,67.0,21.2,21.3,22.6,22.1,21.9
16,Kansas,4.0,632,628,1260,73.0,21.1,21.3,22.3,21.7,21.7
17,Kentucky,4.0,631,616,1247,100.0,19.6,19.4,20.5,20.1,20.0
18,Louisiana,4.0,611,586,1198,100.0,19.4,18.8,19.8,19.6,19.5
19,Maine,95.0,513,499,1012,8.0,24.2,24.0,24.8,23.7,24.3
20,Maryland,69.0,536,52,1060,28.0,23.3,23.1,24.2,2.3,23.6
21,Massachusetts,76.0,555,551,1107,29.0,25.4,25.3,25.9,24.7,25.4
22,Michigan,100.0,509,495,1005,29.0,24.1,23.7,24.5,23.8,24.1
23,Minnesota,3.0,644,651,1295,100.0,20.4,21.5,21.8,21.6,21.5
24,Mississippi,2.0,634,607,1242,100.0,18.2,18.1,18.8,18.8,18.6
25,Missouri,3.0,640,631,1271,100.0,19.8,19.9,20.8,20.5,20.4
26,Montana,10.0,605,591,1196,100.0,19.0,20.2,21.0,20.5,20.3
27,Nebraska,3.0,629,625,1253,84.0,20.9,20.9,21.9,21.5,21.4
28,Nevada,26.0,563,553,1116,100.0,16.3,18.0,18.1,18.2,17.8
29,New Hampshire,96.0,532,520,1052,18.0,25.4,25.1,26.0,24.9,25.5
30,New Jersey,70.0,530,526,1056,34.0,23.8,23.8,24.1,23.2,23.9
31,New Mexico,11.0,577,561,1138,66.0,18.6,19.4,20.4,20.0,19.7
32,New York,67.0,528,523,1052,31.0,23.8,24.0,24.6,23.9,24.2
33,North Carolina,49.0,546,535,1081,100.0,17.8,19.3,19.6,19.3,19.1
34,North Dakota,2.0,635,621,1256,98.0,19.0,20.4,20.5,20.6,20.3
35,Ohio,12.0,578,570,1149,75.0,21.2,21.6,22.5,22.0,22.0
36,Oklahoma,7.0,530,517,1047,100.0,18.5,18.8,20.1,19.6,19.4
37,Oregon,43.0,560,548,1108,40.0,21.2,21.5,22.4,21.7,21.8
38,Pennsylvania,65.0,540,531,1071,23.0,23.4,23.4,24.2,23.3,23.7
39,Rhode Island,71.0,539,524,1062,21.0,24.0,23.3,24.7,23.4,24.0
40,South Carolina,50.0,543,521,1064,100.0,17.5,18.6,19.1,18.9,18.7
41,South Dakota,3.0,612,603,1216,80.0,20.7,21.5,22.3,22.0,21.8
42,Tennessee,5.0,623,604,1228,100.0,19.5,19.2,20.1,19.9,19.8
43,Texas,62.0,513,507,1020,45.0,19.5,20.7,21.1,20.9,20.7
44,Utah,3.0,624,614,1238,100.0,19.5,19.9,20.8,20.6,20.3
45,Vermont,60.0,562,551,1114,29.0,23.3,23.1,24.4,23.2,23.6
46,Virginia,65.0,561,541,1102,29.0,23.5,23.3,24.6,23.5,23.8
47,Washington,64.0,541,534,1075,29.0,20.9,21.9,22.1,22.0,21.9
48,West Virginia,14.0,558,528,1086,69.0,20.0,19.4,21.2,20.5,20.4
49,Wisconsin,3.0,642,649,1291,100.0,19.7,20.4,20.6,20.9,20.5
50,Wyoming,3.0,626,604,1230,100.0,19.4,19.8,20.8,20.6,20.2

##### 10. Change the names of the columns so you can distinguish between the SAT columns and the ACT columns.

I accomplished this in part 9 using the "suffixes" parameter.

##### 11. Print the minimum and maximum of each numeric column in the data frame.

In [29]:
merged_df.describe()

,Participation_sat,Evidence-Based Reading and Writing,Math_sat,Total,Participation_act,English,Math_act,Reading,Science,Composite
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,39.803922,569.117647,547.627451,1126.098039,65.254902,20.931373,21.182353,22.013725,21.041176,21.519608
std,35.276632,45.666901,84.909119,92.494812,32.140842,2.353677,1.981989,2.067271,3.182463,2.020695
min,2.000000,482.000000,52.000000,950.000000,8.000000,16.300000,18.000000,18.100000,2.300000,17.800000
25%,4.000000,533.500000,522.000000,1055.500000,31.000000,19.000000,19.400000,20.450000,19.900000,19.800000
50%,38.000000,559.000000,548.000000,1107.000000,69.000000,20.700000,20.900000,21.800000,21.300000,21.400000
75%,66.000000,613.000000,599.000000,1212.000000,100.000000,23.300000,23.100000,24.150000,22.750000,23.600000
max,100.000000,644.000000,651.000000,1295.000000,100.000000,25.500000,25.300000,26.000000,24.900000,25.500000

In [36]:
ne = merged_df[merged_df.State.isin(['Maine', 'New York', 'New Jersey', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New Hampshire', 'Pennsylvania'])]
ne

,State,Participation_sat,Evidence-Based Reading and Writing,Math_sat,Total,Participation_act,English,Math_act,Reading,Science,Composite,is_NE
6,Connecticut,100.0,530,512,1041,31.0,25.5,24.6,25.6,24.6,25.2,0
19,Maine,95.0,513,499,1012,8.0,24.2,24.0,24.8,23.7,24.3,0
21,Massachusetts,76.0,555,551,1107,29.0,25.4,25.3,25.9,24.7,25.4,0
29,New Hampshire,96.0,532,520,1052,18.0,25.4,25.1,26.0,24.9,25.5,0
30,New Jersey,70.0,530,526,1056,34.0,23.8,23.8,24.1,23.2,23.9,0
32,New York,67.0,528,523,1052,31.0,23.8,24.0,24.6,23.9,24.2,0
38,Pennsylvania,65.0,540,531,1071,23.0,23.4,23.4,24.2,23.3,23.7,0
39,Rhode Island,71.0,539,524,1062,21.0,24.0,23.3,24.7,23.4,24.0,0
45,Vermont,60.0,562,551,1114,29.0,23.3,23.1,24.4,23.2,23.6,0

In [41]:
merged_df['is_NE'] = merged_df.State.isin(['Maine', 'New York', 'New Jersey', 
                                           'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New Hampshire', 'Pennsylvania'])

In [43]:
merged_df['is_MW'] = merged_df.State.isin(['Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin','Iowa', 'Kansas', 'Minnesota', 
                                           'Missouri', 'Nebraska', 'North Dakota', 'South Dakota'])

In [ ]:
merged_df['is_MW'] = merged_df.State.isin(['Illinois', 'Indiana', 'Michigan', 'Ohio', 'Wisconsin','Iowa', 'Kansas', 'Minnesota', 
                                           'Missouri', 'Nebraska', 'North Dakota', 'South Dakota'])

In [44]:
merged_df

,State,Participation_sat,Evidence-Based Reading and Writing,Math_sat,Total,Participation_act,English,Math_act,Reading,Science,Composite,is_NE,is_MW
0,Alabama,5.0,593,572,1165,100.0,18.9,18.4,19.7,19.4,19.2,False,False
1,Alaska,38.0,547,533,1080,65.0,18.7,19.8,20.4,19.9,19.8,False,False
2,Arizona,30.0,563,553,1116,62.0,18.6,19.8,20.1,19.8,19.7,False,False
3,Arkansas,3.0,614,594,1208,100.0,18.9,19.0,19.7,19.5,19.4,False,False
4,California,53.0,531,524,1055,31.0,22.5,22.7,23.1,22.2,22.8,False,False
5,Colorado,11.0,606,595,1201,100.0,20.1,20.3,21.2,20.9,20.8,False,False
6,Connecticut,100.0,530,512,1041,31.0,25.5,24.6,25.6,24.6,25.2,True,False
7,Delaware,100.0,503,492,996,18.0,24.1,23.4,24.8,23.6,24.1,False,False
8,District of Columbia,100.0,482,468,950,32.0,24.4,23.5,24.9,23.5,24.2,False,False
9,Florida,83.0,520,497,1017,73.0,19.0,19.4,21.0,19.4,19.8,False,False
10,Georgia,61.0,535,515,1050,55.0,21.0,20.9,22.0,21.3,21.4,False,False
11,Hawaii,55.0,544,541,1085,90.0,17.8,19.2,19.2,19.3,19.0,False,False
12,Idaho,93.0,513,493,1005,38.0,21.9,21.8,23.0,22.1,22.3,False,False
13,Illinois,9.0,559,556,1115,93.0,21.0,21.2,21.6,21.3,21.4,False,True
14,Indiana,63.0,542,532,1074,35.0,22.0,22.4,23.2,22.3,22.6,False,True
15,Iowa,2.0,641,635,1275,67.0,21.2,21.3,22.6,22.1,21.9,False,True
16,Kansas,4.0,632,628,1260,73.0,21.1,21.3,22.3,21.7,21.7,False,True
17,Kentucky,4.0,631,616,1247,100.0,19.6,19.4,20.5,20.1,20.0,False,False
18,Louisiana,4.0,611,586,1198,100.0,19.4,18.8,19.8,19.6,19.5,False,False
19,Maine,95.0,513,499,1012,8.0,24.2,24.0,24.8,23.7,24.3,True,False
20,Maryland,69.0,536,52,1060,28.0,23.3,23.1,24.2,2.3,23.6,False,False
21,Massachusetts,76.0,555,551,1107,29.0,25.4,25.3,25.9,24.7,25.4,True,False
22,Michigan,100.0,509,495,1005,29.0,24.1,23.7,24.5,23.8,24.1,False,True
23,Minnesota,3.0,644,651,1295,100.0,20.4,21.5,21.8,21.6,21.5,False,True
24,Mississippi,2.0,634,607,1242,100.0,18.2,18.1,18.8,18.8,18.6,False,False
25,Missouri,3.0,640,631,1271,100.0,19.8,19.9,20.8,20.5,20.4,False,True
26,Montana,10.0,605,591,1196,100.0,19.0,20.2,21.0,20.5,20.3,False,False
27,Nebraska,3.0,629,625,1253,84.0,20.9,20.9,21.9,21.5,21.4,False,True
28,Nevada,26.0,563,553,1116,100.0,16.3,18.0,18.1,18.2,17.8,False,False
29,New Hampshire,96.0,532,520,1052,18.0,25.4,25.1,26.0,24.9,25.5,True,False
30,New Jersey,70.0,530,526,1056,34.0,23.8,23.8,24.1,23.2,23.9,True,False
31,New Mexico,11.0,577,561,1138,66.0,18.6,19.4,20.4,20.0,19.7,False,False
32,New York,67.0,528,523,1052,31.0,23.8,24.0,24.6,23.9,24.2,True,False
33,North Carolina,49.0,546,535,1081,100.0,17.8,19.3,19.6,19.3,19.1,False,False
34,North Dakota,2.0,635,621,1256,98.0,19.0,20.4,20.5,20.6,20.3,False,True
35,Ohio,12.0,578,570,1149,75.0,21.2,21.6,22.5,22.0,22.0,False,True
36,Oklahoma,7.0,530,517,1047,100.0,18.5,18.8,20.1,19.6,19.4,False,False
37,Oregon,43.0,560,548,1108,40.0,21.2,21.5,22.4,21.7,21.8,False,False
38,Pennsylvania,65.0,540,531,1071,23.0,23.4,23.4,24.2,23.3,23.7,True,False
39,Rhode Island,71.0,539,524,1062,21.0,24.0,23.3,24.7,23.4,24.0,True,False
40,South Carolina,50.0,543,521,1064,100.0,17.5,18.6,19.1,18.9,18.7,False,False
41,South Dakota,3.0,612,603,1216,80.0,20.7,21.5,22.3,22.0,21.8,False,True
42,Tennessee,5.0,623,604,1228,100.0,19.5,19.2,20.1,19.9,19.8,False,False
43,Texas,62.0,513,507,1020,45.0,19.5,20.7,21.1,20.9,20.7,False,False
44,Utah,3.0,624,614,1238,100.0,19.5,19.9,20.8,20.6,20.3,False,False
45,Vermont,60.0,562,551,1114,29.0,23.3,23.1,24.4,23.2,23.6,True,False
46,Virginia,65.0,561,541,1102,29.0,23.5,23.3,24.6,23.5,23.8,False,False
47,Washington,64.0,541,534,1075,29.0,20.9,21.9,22.1,22.0,21.9,False,False
48,West Virginia,14.0,558,528,1086,69.0,20.0,19.4,21.2,20.5,20.4,False,False
49,Wisconsin,3.0,642,649,1291,100.0,19.7,20.4,20.6,20.9,20.5,False,True
50,Wyoming,3.0,626,604,1230,100.0,19.4,19.8,20.8,20.6,20.2,False,False

##### 12. Write a function using only list comprehensions, no loops, to compute standard deviation. Using this function, calculate the standard deviation of each numeric column in both data sets. Add these to a list called `sd`.

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

In [ ]:
import numpy as np
def std(data):
    n = len(data)
    inside = np.sum((data[i] - np.mean(data))**2 for i in range (0,n))
    
    return np.sqrt(inside/n)

In [ ]:
sd = []
sd.append(std(merged_df.loc[:50,'Evidence-Based Reading and Writing']))
sd.append(std(merged_df.loc[:50,'Math_sat']))
sd.append(std(merged_df.loc[:50,'Total',]))
sd.append(std(merged_df.loc[:,'English']))
sd.append(std(merged_df.loc[:,'Math_act']))
sd.append(std(merged_df.loc[:,'Reading']))
sd.append(std(merged_df.loc[:,'Science']))
sd.append(std(merged_df.loc[:,'Composite']))
sd.append(std(merged_df.loc[:,'Participation_sat']))
sd.append(std(merged_df.loc[:,'Participation_act']))
sd.append(None)
sd

## Step 2: Manipulate the dataframe

##### 13. Turn the list `sd` into a new observation in your dataset.

In [ ]:
new_obs = pd.Series(sd, index=merged_df.columns)
df2 = new_obs.to_frame()
df2 = df2.T

##### 14. Sort the dataframe by the values in a numeric column (e.g. observations descending by SAT participation rate)

In [ ]:
merged_df['Participation_sat'].sort_values(ascending=False)

##### 15. Use a boolean filter to display only observations with a score above a certain threshold (e.g. only states with a participation rate above 50%)

In [ ]:
above_50 = merged_df['Participation_sat'] > 50
above_50

## Step 3: Visualize the data

##### 16. Using MatPlotLib and PyPlot, plot the distribution of the Rate columns for both SAT and ACT using histograms. (You should have two histograms. You might find [this link](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes) helpful in organizing one plot above the other.)

In [ ]:
plt.title('% Participation in the ACT')
plt.xlabel('% Participation')
plt.ylabel('Number of States')
merged_df.Participation_act.hist(label='ACT Participation', grid=False)

In [ ]:
plt.title('% Participation in the SAT')
plt.xlabel('% Participation')
plt.ylabel('Number of States')
merged_df.Participation_sat.hist(grid=False)

##### 17. Plot the Math(s) distributions from both data sets.

In [ ]:
plt.title('ACT Math Scores')
plt.xlabel('Average Score')
plt.ylabel('Number of States')
merged_df.Math_act.hist(grid=False)

In [ ]:
plt.title('SAT Math Scores')
plt.xlabel('Average Score')
plt.ylabel('Number of States')
merged_df.Math_sat.hist(grid=False)

##### 18. Plot the Verbal distributions from both data sets.

In [ ]:
plt.title('SAT Verbal Scores')
plt.xlabel('Average Score')
plt.ylabel('Number of States')
merged_df['Evidence-Based Reading and Writing'].hist(grid=False)

In [ ]:
plt.title('ACT Verbal Scores')
plt.xlabel('Average Score')
plt.ylabel('Number of States')
merged_df['English'].hist(grid=False)

In [ ]:
plt.title('SAT Verbal Scores')
plt.xlabel('Average Score')
plt.ylabel('Number of States')
merged_df['Reading'].hist(grid=False)

##### 19. When we make assumptions about how data are distributed, what is the most common assumption?

That it's normally distributed

##### 20. Does this assumption hold true for any of our columns? Which?

No because none of them are unimodal

##### 21. Plot some scatterplots examining relationships between all variables.

In [ ]:
plt.title('SAT Score vs. Participation')
plt.xlabel('% Participation')
plt.ylabel ('State\'s Average Score')
plt.scatter(merged_df['Participation_sat'], merged_df['Total'])

In [ ]:
plt.title('ACT Score vs. Participation')
plt.xlabel('% Participation')
plt.ylabel ('State\'s Average Score')
plt.scatter(merged_df['Participation_act'], merged_df['Composite'])

In [ ]:
plt.title('ACT Reading vs. SAT Reading')
plt.xlabel('SAT Reading Score')
plt.ylabel ('ACT Reading Score')
plt.scatter(merged_df['Evidence-Based Reading and Writing'], merged_df['Reading'])

In [ ]:
plt.scatter(merged_df['Evidence-Based Reading and Writing'], merged_df['Reading'])

In [ ]:
plt.scatter(merged_df['Evidence-Based Reading and Writing'], merged_df['Reading'])

##### 22. Are there any interesting relationships to note?

Participation rate and total are negatively correlated

##### 23. Create box plots for each variable.

In [ ]:
merged_df.boxplot("Math_sat")
merged_df.boxplot('Participation_sat')
merged_df.boxplot('Evidence-Based Reading and Writing')
merged_df.boxplot('Total')
merged_df.boxplot('Participation_act')
merged_df.boxplot('English')
merged_df.boxplot('Math_act')
merged_df.boxplot('Reading')
merged_df.boxplot('Science')
merged_df.boxplot('Composite')

In [ ]:
merged_df.boxplot("Math_sat")

In [ ]:
merged_df.boxplot('Math_act')

In [ ]:
merged_df.boxplot('Evidence-Based Reading and Writing')

In [ ]:
merged_df.boxplot('Reading')

In [ ]:
merged_df.boxplot('Composite')

In [ ]:
merged_df.boxplot('Total')

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.

## Step 4: Descriptive and Inferential Statistics

##### 24. Summarize each distribution. As data scientists, be sure to back up these summaries with statistics. (Hint: What are the three things we care about when describing distributions?)

In [ ]:
Center Shape Spread

In [ ]:
merged_df["Math_sat"].describe()

In [ ]:
merged_df['Participation_sat'].describe()

In [ ]:
merged_df['Evidence-Based Reading and Writing'].describe()

In [ ]:
merged_df['Total'].describe()

In [ ]:
merged_df['Participation_act'].describe()

In [ ]:
merged_df['English'].describe()

In [ ]:
merged_df['Math_act'].describe()

In [ ]:
merged_df['Reading'].describe()

In [ ]:
merged_df['Science'].describe()

In [ ]:
merged_df['Composite'].describe()

##### 25. Summarize each relationship. Be sure to back up these summaries with statistics.

In [ ]:
merged_df.corr()

##### 26. Execute a hypothesis test comparing the SAT and ACT participation rates. Use $\alpha = 0.05$. Be sure to interpret your results.

In [ ]:
#H_0: SAT_participation = ACT_participation
#H_A: SAT_participation != ACT_participation

import scipy.stats as stats
SAT_part = merged_df['Participation_sat']
ACT_part = merged_df['Participation_act']
    
stats.ttest_ind(SAT_part, ACT_part)

##### 27. Generate and interpret 95% confidence intervals for SAT and ACT participation rates.

In [ ]:
sample_mean = SAT_part.mean()
z_star = 1.96
sigma = SAT_part.std()
n = len(SAT_part)

low_end = sample_mean - z_star * sigma / n ** 0.5

high_end = sample_mean + z_star * sigma / n ** 0.5

In [ ]:
low_end

In [ ]:
high_end

In [ ]:
sample_mean = ACT_part.mean()
z_star = 1.96
sigma = ACT_part.std()
n = len(ACT_part)

low_end_A = sample_mean - z_star * sigma / n ** 0.5

high_end_A = sample_mean + z_star * sigma / n ** 0.5

In [ ]:
low_end_A

In [ ]:
high_end_A

##### 28. Given your answer to 26, was your answer to 27 surprising? Why?

It was surprising because they appear to have different ranges despite getting a p value of less than 0.05

##### 29. Is it appropriate to generate correlation between SAT and ACT math scores? Why?

It could be since they were weakly correlated

##### 30. Suppose we only seek to understand the relationship between SAT and ACT data in 2017. Does it make sense to conduct statistical inference given the data we have? Why?

It would not make sense to conduct statistical inference since we already have the population means?